name: Build and Push Docker Image
on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1
      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v1
      - name: Build, tag, and push ecs-codeserver image to ECR
        uses: docker/build-push-action@v5
        with:
          context: ./app
          file: Dockerfile
          push: true
          tags: |
            764283926008.dkr.ecr.us-east-1.amazonaws.com/ecs-codeserver:latest
            764283926008.dkr.ecr.us-east-1.amazonaws.com/ecs-codeserver:${{ github.sha }}